{# templates/register.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <h1>Créer un compte utilisateur</h1>
    {{ form_start(form) }}
        {{ form_row(form.username) }}
        {{ form_row(form.email) }}
        {{ form_row(form.password) }}
        <button class="btn btn-primary">S'inscrire</button>
    {{ form_end(form) }}
{% endblock %}
