{# templates/user_form.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Nouvel utilisateur{% endblock %}

{% block body %}
    <h1>Créer un utilisateur</h1>
    {{ form_start(form) }}
        {{ form_row(form.username) }}
        {{ form_row(form.email) }}
        {{ form_row(form.password) }}
        <button class="btn btn-primary">Enregistrer</button>
    {{ form_end(form) }}
{% endblock %}
